body {
  margin: 0;
  font: 14px arial, helvetica, clean, sans-serif;
  background: #ddd;
}
.restrict {
  max-width: 1000px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  background: #fffafa;
}
header .restrict {
  background: #970034;
}
header .restrict .imageWrap {
  margin-bottom: -5px;
}
header .restrict .imageWrap img {
  margin-left: 70px;
}
main {
  background: #ddd;
}
aside:first-child {
  width: 250px;
  background: #b2f9a2;
}
aside:last-child {
  width: 375px;
  background: #a2acf9;
}
article {
  background: #f9dfa2;
}
footer .restrict {
  background: #eff9a2;
  border-top: 8px solid #970034;
}
footer .restrict ul li {
  display: inline;
  margin-left: 10px;
}
aside,
article {
  padding: 0 10px 10px 10px;
}
header .restrict,
footer .restrict {
  padding: 0 10px;
}
.menu {
  margin-left: 250px;
  margin-top: 1em;
}
.menu .menu_link {
  color: #903;
  font-size: 18px;
  text-transform: uppercase;
  padding-left: 20px;
  text-decoration: none;
}
@media (max-width: 800px) {
  header .restrict .imageWrap {
    margin-left: -10px;
  }
  header .restrict .imageWrap img {
    margin-left: 0;
    width: 100%;
    height: auto;
  }
  .menu {
    margin-left: 0;
    margin-bottom: 1em;
  }
  .menu .menu_link {
    font-size: 14px;
    padding-left: 5px;
  }
  main .restrict {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .restrict {
    border: 0;
  }
  aside:first-child {
    display: none;
  }
  aside:last-child {
    width: auto;
  }
  footer .restrict ul {
    margin: 1em auto;
  }
  footer .restrict ul li {
    display: block;
    margin-left: 0;
  }
}
.vertical-centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
